extends layout

block content
    h1.ui.header= title
        .sub.header Welcome to #{title}
    a(href="/auth/facebook")
        .ui.facebook.button
            i.facebook.icon
            | Facebook