extends layout
block content
    div.container.main
        img(src="/images/yhug.png").logo
        h1.header Log In With
        a(href="/auth/facebook")
            button.btn.btn-larger.facebook-btn
                i.fa.fa-facebook
                |  Facebook