doctype html
html
    head
        title= title
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
        script(type='text/javascript', src='/javascript/semantic.min.js')
        link(rel='stylesheet', href='/css/semantic.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block header

  body
        block content