doctype html
html
    head
        title= title
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Montserrat|Lato")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block header

  body
        block content