mixin navbar-mixin()
  nav.navbar.navbar.default.navbar-fixed.top
    div.container-fluid.navbar-container
      div.wrapper#logo
        a(href="/") 
            img(src="/images/yhug.png")#navbar-logo  
      div.wrapper#logout
         a(href="#")#logout-link Logout
            


