#rejectpModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="rejectLabel", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                //- button.close(type="button", data-dismiss="modal", aria-hidden="true") ×     
                h4#rejectLabel.modal-title Oops...
            .modal-body
                .row.text-center
                    h3 It looks like your match is busy! Looking for another hugger...
            .modal-footer
                button#closeRejected.btn.btn-yhug.btn-large(type="submit", data-dismiss="modal") Ok